#wrapper { width: 100%;
	       margin-left: auto;
                   margin-right: auto;
                   background-color: #1B5886;
				   }
header{
	color: white;
	padding: 5px;
}
nav { 
		background-color: #3776A1;
		float: left; 
        width: 90px;
        padding: 10px; }
main { margin-left: 110px;
           padding: 10px;
           background-color:  #FFFFFF; }
footer { 	  color: white;
			  text-align: center;
              font-style: italic;
              background-color: #1B5886; }
button {
	transform: translate(-30%, 30%);
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}
